<div class="c-card c-card--test-desc">
    <div class="c-card__content c-card__content--divider">{{=it.name}}</div>
    <div class="c-card__content">
        <p class="c-paragraph">{{=it.description}}</p>
        <br/>
        <p class="c-paragraph">Tags:&nbsp
            {{~it.tags :tag:index}}
            <button type="button" class="c-button c-button--primary c-button--xsmall c-tag">
                {{=tag}}
            </button>
            {{~}}
        </p>
    </div>
</div>