.app-header {
  height: 64px;
  line-height: 40px;
  font-size: 24px;
  background: black;
  color: white;
  &__git-hub {
    text-decoration: none;
    color: orange;
    text-align: center;
    vertical-align: middle;
    &:hover {
      background: #333;
    }
  }
  &__git-hub-link {
    text-decoration: none;
    color: orange;
  }
}
