
.c-nav__item--no-hover:not(:disabled):hover {
	color: inherit;
	background-color: inherit;
}

.c-card--test-desc {
	background-color: #f9f9f9
}

.c-test-list {
	top: 68px;
}

.c-test-details {
	margin: 0 1em;
}

.c-table__row--heading .c-table__cell--case-header {
	flex: 8;
}

.c-table__cell--case-name {
	flex: 2;
}

.c-table__cell--case-source {
	flex: 6;
}

.c-table__cell--case-source-code {
	width: 100%;
}

.c-table__cell--case-result, .c-table__row--heading .c-table__cell--case-result {
	flex: 2;
}
