
.c-nav__item--no-hover:not(:disabled):hover {
	color: inherit;
	background-color: inherit;
}

.c-card--test-desc {
	background-color: #f9f9f9
}

.c-test-list {
	top: 68px;
}

.c-test-details {
	margin: 0 1em;
}
