<div class="app-header ui-g">
  <div class="ui-g-2 app-header__title">
    <a href="/" target="_top" class="app-header__link">{{ 'header.title' | translate }}</a></div>
  <div class="ui-g-5"></div>
  <div class="ui-g-4 app-header__git-hub">
    <a href="//github.com/Pencroff/PerfJS" target="_blank" class="app-header__link app-header__link--git-hub">
      <i class="fa fa-github" aria-hidden="true"></i>
      {{ 'header.link' | translate }}
    </a>
  </div>
  <div class="ui-g-1">
    <select #langSelect (change)="changeLanguage(langSelect.value)" class="app-header__lang">
      <option *ngFor="let lang of languages"
              [value]="lang.id"
              [selected]="isSelected(lang.id)">{{ lang.name }}</option>
    </select>
  </div>
</div>
